body {
    background-color: rgb(56, 26, 56);
    font-size: 16px;
    color:rgb(245, 232, 119);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color:rgb(104, 34, 104);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:20px;
    border-bottom: 5px solid rgb(245, 232, 119);
    align-items: center;
}
header h1{
    background-color:rgb(245, 232, 119);
    padding: 20px 50px 20px 20px;
    color:rgb(56, 26, 56);
    font-size:300%;
    border-radius: 20px 40px 20px 40px;
    text-align: center;
}
header nav {
    display: flex;
    margin: 30px 0;
}
header nav a{
    text-decoration: none;
    color:rgb(245, 232, 119);
    font-size: 125%;
}
header nav a + a::before {
    content:" ⚪ ";
    display: inline-block;
    white-space: pre;
}

.hero{
    background-image: url("../images/Placeholder.png");
    background-position: center;
    background-size:cover;
    width: 100%;
    height: 300px;
    position: relative;
}
.hero p {
    background-color:rgb(245, 232, 119);
    position: absolute;
    padding: 20px;
    color:rgb(56, 26, 56);
    font-size:200%;
    border-radius: 30px 15px 30px 15px;
    text-align: center;
    bottom: 0px;
    right: 10%;
    margin: 10px;
}

article {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin:20px auto;
}
article h2{
    font-size: 200%;
    border-right: 5px solid rgb(245, 232, 119);
    padding: 30px 30px 20px 20px;
    flex: 0 0 20%;
}
article  h2 + * {
    padding:30px;
}

.projectBoxes {
    display: flex;
    flex-flow: row wrap;
}
.projectBoxes div {
    width: 300px;
    height: 200px;
    background-color: rgb(245, 232, 119);
    margin: 20px;
    flex: 1 1 200px;
}
@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        padding: 0px;
    }
    header h1{
        border-radius: 0px;
        padding: 20px 0px;
        width: 100%;
    }
    article{
      flex-direction: column;
      padding: 0px 30px;
    }
    article h2 {
        border-right: none;
        border-bottom: 5px solid rgb(245, 232, 119);
    }
  }
  
  /* @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  } */